html {
  background-color: #000;
}

.clock-face {
  height: 300px;
  margin: 50px auto;
  width: 300px;

  background: transparent url("../images/clock-face.svg") no-repeat center center;
  position: relative;
}

.center {
  width: 28px;
  position: absolute;
  left: 45%;
  top: 135%;
}

.hand {
  width: 14px;
  position: absolute;
}

.hand-hour {
  transform-origin: center bottom;
  animation: spin 6s infinite linear;
  position: relative;
  top: 65%;
  left: 50%;
}

.hand-minute {
  transform-origin: center bottom;
  animation: spin 1s infinite linear;
  position: relative;
  top: 65px;
  left: 40%;
}
